#header {
    height: 80px;
    background: transparent;
    display: flex;
    align-items: center;
    justify-content: center;
    color: white; 
}

#header.header-scrolled {
    background-color: rgb(35, 55, 92);
}

.burger-menu {
    display: none;
    cursor: pointer; 
}

.bar {
    display: block;
    width: 25px;
    height: 3px;
    margin: 5px auto;
    transition: all 0.3s ease-in-out;
    background-color: var(--btn-color-2);

}

#header .container {
    align-items: center;
    justify-content: space-between;
}

#header .container .logo img {
    height: 6rem;
    display: block;
}


#header ul {
    padding: 0;
    margin: 0;
    display: flex;
}

#header li {
    position: relative;
    padding: 6px 10px;
}


#header li a {
    font-size: 18px;
    color: var(--font-color-2);
    font-weight: 900;
    border-radius: 8%;
}

#header li a:hover {
    background-color: var(--btn-color-2);
}

#navbar {
    position: static;
    padding: 0;
}

#header .navbar-nav li:last-child {
    background-color: var(--btn-color-2);
    border-radius: 5%;
}

@media (max-width: 575.98px) {
    #header .container .logo img {
        height: 4rem;  
        position: absolute; 
        top: 20px;
        left: 20px;
    }

    #header .container {
        margin: 0;
    }

    #header .navbar .navbar-nav{
        position: fixed;
        left: -100%;
        top: 70px;
        gap: 0;
        flex-direction: column;
        width: 100%;
        text-align: right;
        transition: 0.3s;
    }


    .burger-menu.active .bar:nth-child(2){
        opacity: 0;
    }

    .burger-menu.active .bar:nth-child(1){
        transform: translateY(8px) rotate(45deg);
    }

    .burger-menu.active .bar:nth-child(3){
        transform: translateY(-8px) rotate(-45deg);
    }
    
   

    #header .navbar .navbar-nav.active {
        width: 30%;
        left: 70%;
        padding: 20px;
        background-color: var(--background-color-3);
    }
    
    .burger-menu {
        display: block;
    }


}